<h2>Your Team</h2>
<% @coders.each_with_index do |coder, index| %>
  <% if index%4 == 0 %>
    <div class="row">
  <% end %>
  <div class="col s3">
    <p><%= coder.name %></p>
    <img src="<%= coder.image_url %>" width="100%">
    <p><%= coder.experience %></p>
    <p><%= coder.cost %></p>
  </div>
  <% if index%4 == 1 || index == ( @coders.count - 1 )%>
    </div>
  <% end %>
<% end %>

<p>
  team size: <%= @team.total %>
</p>
