<div class="trips-page">
<div class="container">
  <div class="row">

    <div class="page-header">
      <h1>My Trips</h1>
    </div>

    <div class="trips">
      <% @trips.each do |trip| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Trip Booked on <%= trip.word_date(trip.created_at) %>
              for <%= trip.reservations.count %> basement(s)
            </h3>
          </div>
          <div class="panel-body">
            <div class="trip-info">
              <% trip.reservations.each do |reservation| %>
              <p><strong><%= Home.find(reservation.home_id).title %></strong></p>
                <p><%= image_tag(Home.find(reservation.home_id).image_url, width: "100", height: "50") %>
                  <strong>Trip Length:</strong> <%= reservation.trip_length %> day(s)
                  <strong>Check In: </strong><%= reservation.check_in.strftime("%b %d, %Y") %>
                  <strong>Check Out: </strong> <%= reservation.check_out.strftime("%b %d, %Y") %>
                </p>
                  <td><% if trip.review_id.nil? %>
                    <%= link_to "Review this Trip", new_review_path, class: "btn btn-success" %>
                  <% end %></td>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
</div>
