<div class="trips-page">
<div class="container">
  <div class="row">

    <div class="page-header">
      <h1>My Trips</h1>
    </div>

    <div class="trips">
      <% @trips.each do |trip| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              Trip Booked on <%= trip.word_date(trip.created_at) %>
              for <%= trip.reservations.count %> basement(s)
            </h3>
          </div>
          <div class="col md-4 card">
            <div class="trip-info">
              <table class="table">
                <thead>
                  <tr>
                    <th>Booking</th>
                    <th>Home Title</th>
                    <th>Trip Length</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
              <% trip.reservations.each do |reservation| %>
              <td><%= image_tag(Home.find(reservation.home_id).image_url, width: "100", height: "50") %></td>
              <td><%= Home.find(reservation.home_id).title %></td>
              <td> <%= reservation.trip_length %> day(s)</td>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
</div>
