<div class="user-form">
  <h2>Login Below</h2>
  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Login", class: "add-button" %>
  <% end %>
  <%= link_to "Create Account", new_user_path, class: "link" %>
</div>
