<h2><%= @contract.id %></h2>

<% @contract.coders.each do |coder| %>
  <%= link_to coder.name, coder_path(coder.id) %>
  <%= coder.cost %>
<% end %>

<%= @contract.status %>
<%= @contract.total_cost %>
<%= @contract.formatted_date(@contract.created_at) %>
<%= "Completed at: #{@contract.formatted_date(@contract.updated_at)}" if @contract.completed? %>
<%= "Cancelled at: #{@contract.formatted_date(@contract.updated_at)}" if @contract.cancelled? %>
