<div class="users-index-page">
  <h1>Edit Any User or Home</h1>
  <% @users.each do |user| %>
  <p>
    <%= user.first_name %>
    <%= user.last_name %>
    <%= user.email %>
    <%= link_to "Edit User Account", edit_user_path(user) %>
      <% if user.home %>
        <%= link_to "Edit User Home", edit_home_path(user.home.city, user.home) %>
      <% end %>
    </p>
  <% end %>
</div>
