<div class="user-form">
  <h2>Sign in below</h2>
  <%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :organization %>
    <%= f.text_field :organization %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Create Account", class: "add-button" %>
  <% end %>
</div>
