<div class ="dashboard">
  <div class= "dashboard-title">
    <h2>Welcome <%= current_user.first_name.capitalize %></h2>
  </div>
  <div class="container">
    <div class="dashboard-links row col-md-12">
      <ul><%= link_to "Edit Account",  edit_user_path(current_user)%></ul>
      <% if current_user.registered_user? && current_user.roles.count == 1%>
        <ul><%=link_to "Be a host today!", new_home_path  %></ul>
      <% end %>
      <% if current_user.host? %>
        <%= render partial: "host_dashboard" %>
      <% end %>
      <% if current_user.platform_admin? %>
        <ul><%= link_to "Edit User Account or Homes", users_path %></ul>
        <% if @pending_homes.count > 0 %>
          <ul><%= link_to "Pending Homes", pending_homes_path %></ul>
          <% end %>
      <% end %>
    </div>

    <div class="user-show">
      <h3>Name</h3>
      <p><%= current_user.first_name %></p>
      <h3>Username</h3>
      <p><%= current_user.last_name%></p>
      <h3>Email</h3>
      <p><%= current_user.email %></p>
    </div>
  </div>
</div>
