<div class ="dashboard">
  <div class= "dashboard-title">
    <h2>Welcome <%= current_user.first_name.capitalize %></h2>
  </div>
  <div class="container">
    <div class="dashboard-links row col-md-12">
      <ul><%= link_to "Edit Account",  edit_user_path(current_user)%></ul>
      <% if current_user.registered_user? && current_user.roles.count == 1%>
        <ul><%=link_to "Be a host today!", new_home_path  %></ul>
      <% end %>
      <% if current_user.host? %>
        <ul><%= link_to "Manage Your Home", edit_home_path(current_user.home.city, current_user.home) %></ul>
        <ul><%= link_to "Add Host", new_user_path %></ul>
        <div class="all-hosts">
          <h3>All Hosts</h3>
          <%@other_hosts.each do |host| %>
          <ul><%=host.first_name%> <%= link_to "Delete #{host.first_name}", user_path(host), method: :delete %> </ul>
          <% end %>
        </div>
      <% end %>
      <% if current_user.platform_admin? %>
        <ul><%= link_to "Edit User Account or Homes", users_path %></ul>
      <% end %>
    </div>

    <div class="user-show">
      <h3>Name</h3>
      <p><%= current_user.first_name %></p>
      <h3>Username</h3>
      <p><%= current_user.last_name%></p>
      <h3>Email</h3>
      <p><%= current_user.email %></p>
    </div>
  </div>
</div>
