<div class="center-60">
  <h2>Contract ID: <%= @contract.id %></h2>

  <table>
    <tr>
      <th><p>Coder Name</p></th>
      <th><p>Coder Cost</p></th>
    </tr>
    <% @contract.coders.each do |coder| %>
      <tr>
        <td>
          <p><%= link_to coder.name, coder_path(coder.id) %></p>
        </td>
        <td class="table-decimal">
          <p>$<%= coder.cost %></p>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><p><strong>Total:</strong></p></td>
      <td class="table-decimal"><p>$<%= @contract.total_cost %></p></td>
    </tr>
  </table><br>

  <table>
    <tr>
      <td>
        <p><strong>Contract Status:</strong></p>
      </td>
      <td>
        <p><%= @contract.status %></p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Contract Created:</strong></p>
      </td>
      <td>
        <p><%= @contract.formatted_date(@contract.created_at) %></p>
      </td>
      <% if @contract.completed? %>
        <td><p><strong>Completed at: </strong></p></td>
        <td><p><%= "#{@contract.formatted_date(@contract.updated_at)}" %></p></td>
      <% end %>
      <% if @contract.cancelled? %>
        <td><p><strong>Cancelled at: </strong></p></td>
        <td><p><%= "Cancelled at: #{@contract.formatted_date(@contract.updated_at)}" if @contract.cancelled? %></p></td>
      <% end %>
    </tr>
  </table>
</div>
