<h1>Edit Your Home </h1>
Fill in informationa about your home and the name and state of your city.
<div class="edit_home_form">
  <%= form_for ([@city, @home]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit "Submit"%>
  <% end %>
</div>
