<div class="container">
  <div class="row city-page">
    <h1>Basements in <%= @city.name_and_state %></h1>

    <div class="city-homes">
      <% @city.homes.each do |home| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail home-thumb">
              <img src="<%= home.image_url %>" alt="photo of <%= home.title %>">
              <div class="caption">
                <h3><%= link_to home.title, city_home_path(@city.slug, home.id) %></h3>
                <p><strong><%= home.address %></strong></p>
                <p><strong>$<%= home.daily_rate %> per night</strong></p>
                <p><%= home.description %></p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
